.side-bar
  .side-header
    .side-header__box
      .side-header__user-name
        masa
      .side-header__icon
        = link_to "#",class: "contents__btn" do
          %i.fa.fa-edit
          %span<>
        = link_to "#",class: "contents__btn" do
          %i.fa.fa-cog

  .side-bar__group-list
    .title__box
      .title
        techcamp
    .message__box
      .message
        まだメッセージがありません
    .message__box
      .message
        まだメッセージがありません
    .message__box
      .message
        まだメッセージがありません

    