
.wrapper{
  display: flex;
}
.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
  color: #ffffff;

  .side-header{
    background-color: #253141;
    width: 300px;
    height: 100px;
    display: flex;

    &__box{
      width: 260px;
      height: 20px;
      margin: auto;
      flex: 0 1 auto;
      justify-content: space-between;
      display: flex;

      a{
        color: #ffffff;
        padding-left: 5px;
      }

    }
  }

  &__groups-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;

    .group{
      a{
        text-decoration: none;
      }
      
      .group__name{
        height: 50px;
        font-size: 15px;
        margin: auto;
        padding: 20px 20px 5px 20px;
      }

      .group__message{
        height: 50px;
        font-size: 15px;
        margin: auto;
        padding: 20px 20px 5px 20px;
      }
    }
  }
}
