.wrapper{
  display: flex;
}
.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
  color: #ffffff;

  .side-header{
    background-color: #253141;
    width: 300px;
    height: 100px;
    display: flex;

    &__box{
      width: 260px;
      height: 20px;
      margin: auto;
      flex: 0 1 auto;
      justify-content: space-between;
      display: flex;

      a{
        color: #ffffff;
        padding-left: 5px;
      }

    }
  }

  &__group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;

    .title__box{
      height: 50px;
      font-size: 15px;
      margin: auto;
      padding: 20px 20px 5px 20px;
    }

    .message__box{
      height: 50px;
      font-size: 15px;
      margin: auto;
      padding: 20px 20px 5px 20px;
    }
  }
}

// .side-bar
//   .side-bar__user-name
//     .name
//     masa
//     .icon

//   .side-bar__group-list
//     .title
//     techcamp
//     .message
//     まだメッセージがありません
    